__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
.env
.python-version
*.so
.mypy_cache/
.pyright/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage
coverage.xml
*.log
.DS_Store
Thumbs.db
uv.lock
